<a href="https://colab.research.google.com/github/Sankalp9993/UBBA-204-214529/blob/main/214529_chapter4and5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def fred():
  print("Zap")
def jane():
  print("ABC")
jane()
fred()
jane()

ABC
Zap
ABC

In [ ]:
def computepay(Hours,rate):
  if(Hours>40):
    pay=(Hours-40)*1.5*rate+(40*rate)
  else:
    pay=Hours*rate  
  return pay

Hours = float(input("Enter Hour\n"))
rate = float(input("Enter rate\n"))
pay = computepay(Hours , rate)  
print( 'pay :',pay)

Enter Hour
45
Enter rate
10
pay : 475.0

In [ ]:
def computegrade(score):
  if(score<0.0 or score>1.0) :
    return("Score is out of range!!")
  elif(score>=0.9):
    return("A")
  elif(score>=0.8):
    return("B")
  elif(score>=0.7):
    return("C")
  elif(score>=0.6):
    return("D")      
  else:
    return("F")
try:
  score=float(input("Enter your score\n"))
  print(computegrade(score))
except Exception :
  print('Enter a number!!!!!!!!!!!!')

Enter your score
32
Score is out of range!!

In [ ]:
count=0
total=0
while True :
  value=input('Enter the number ')
  if (value=='done'):
    break
  try:
    value1=float(value)
  except:
    print('Invalid input')
  total=total+value1
  count=count+1
print(total,count,total/count)

Enter the number 10
Enter the number 10
Enter the number 10
Enter the number 10
Enter the number 10
Enter the number 10
Enter the number 10
Enter the number 10
Enter the number 10
Enter the number 10
Enter the number 10
Enter the number 0
Enter the number 23
Enter the number 12
Enter the number 12
Enter the number 12
Enter the number 12
Enter the number done
181.0 17 10.647058823529411

In [ ]:
i = 1
while i < 11:
  print(i)
  i += 0.5

In [ ]:
def thankyou(chin):
 print("\nIts a very nauthy, %s!" % chin)

thankyou('Monkey')

Its a very nauthy, Monkey!

In [ ]:
#Loop 
i = 1
while i < 8:
  print(i)
  i += 0.7

1
1.7
2.4
3.0999999999999996
3.8
4.5
5.2
5.9
6.6000000000000005
7.300000000000001

In [ ]:
range(3)

range(0, 3)

In [ ]:
for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

In [ ]:
snacks = ["chats","samosa", "biscuits","momos","chocolates","oats"]
for menu in snacks:
  if (menu[0] == "c"):
    print(menu)
#for x in fruits:
#  print(x)

chats
chocolates

In [ ]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'Apple'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is Apple
Before square  1 is yellow
After square  1 is Apple
Before square  2 is green
After square  2 is Apple
Before square  3 is purple
After square  3 is Apple
Before square  4 is blue
After square  4 is Apple

In [ ]:
# Loop through the list and iterate on both index and element value

squares=['one', 'two', 'three', 'four', 'five']

for i, square in enumerate(squares):
    print(i, square)

0 one
1 two
2 three
3 four
4 five