<a href="https://colab.research.google.com/github/Sankalp9993/UBBA-204-214529/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

In [ ]:
i = 1
while i < 8:
  print(i)
  if i == 5:
    break
  i += 1

1
2
3
4
5

In [ ]:
i = 0
while i < 8:
  i += 1
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8

In [ ]:
i = 1
while i < 7:
  print(i)
  i += 1
else:
  print("i is no longer less than 7")

1
2
3
4
5
6
i is no longer less than 7

In [ ]:
i = 1
while i < 11:
  print(i)
  i += 0.5

1
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0
5.5
6.0
6.5
7.0
7.5
8.0
8.5
9.0
9.5
10.0
10.5

In [ ]:
count = 0
while (count < 9):
   print('The count is:', count)
   count = count + 1

print("Good bye!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Good bye!

In [ ]:
number = int(input("Enter a number: "))

count = 1

while count <= 10:
    product = number * count
    print(number, "x", count, "=", product)
    count = count + 1

Enter a number: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
def fred():
  print("Zap")
def jane():
  print("ABC")
jane()
fred()
jane()

ABC
Zap
ABC

In [ ]:
def computepay(Hours,rate):
  if(Hours>40):
    pay=(Hours-40)*1.5*rate+(40*rate)
  else:
    pay=Hours*rate  
  return pay

Hours = float(input("Enter Hour\n"))
rate = float(input("Enter rate\n"))
pay = computepay(Hours , rate)  
print( 'pay :',pay)

Enter Hour
45
Enter rate
10
pay : 475.0

In [ ]:
def computegrade(score):
  if(score<0.0 or score>1.0) :
    return("Score is out of range!!")
  elif(score>=0.9):
    return("A")
  elif(score>=0.8):
    return("B")
  elif(score>=0.7):
    return("C")
  elif(score>=0.6):
    return("D")      
  else:
    return("F")
try:
  score=float(input("Enter your score\n"))
  print(computegrade(score))
except Exception :
  print('Enter a number!!!!!!!!!!!!')

Enter your score
32
Score is out of range!!

In [ ]:
count=0
total=0
while True :
  value=input('Enter the number ')
  if (value=='done'):
    break
  try:
    value1=float(value)
  except:
    print('Invalid input')
  total=total+value1
  count=count+1
print(total,count,total/count)

Enter the number 12
Enter the number 13
Enter the number done
25.0 2 12.5