<a href="https://colab.research.google.com/github/Sankalp9993/UBBA-204-214529/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv

In [2]:
s = pd.Series([1,3,5,np. nan,6,8])
print (s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range('20130101 ', periods=6)
print (dates)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6,3), index=dates, columns=list('ABD'))
df

                   A         B         D
2013-01-01  1.067043  0.887519  1.041422
2013-01-02  1.759438  0.702548 -0.248499
2013-01-03 -0.901648  1.002397  0.334519
2013-01-04  0.354305 -0.665491  2.033663
2013-01-05 -0.613713 -0.222655 -2.454923
2013-01-06 -0.156892 -0.979820  0.428335

In [5]:
df2 = pd.DataFrame({ ' A ' : 1.,
 ' B  ': pd.Timestamp('  20130102  '),
 ' C  ': pd.Series(1,index=list(range(4))),
 ' D ': np.array([3] * 4),
 ' E  ': pd.Categorical([" test "," train "," test "," train "]),
 ' F  ': ' foo'  })
df2

    A         B     C     D       E     F
0  1.0 2013-01-02     1    3    test    foo
1  1.0 2013-01-02     1    3   train    foo
2  1.0 2013-01-02     1    3    test    foo
3  1.0 2013-01-02     1    3   train    foo

In [6]:
df2.dtypes

 A             float64
 B      datetime64[ns]
 C               int64
 D               int64
 E            category
 F              object
dtype: object

In [7]:
df.head()

                   A         B         D
2013-01-01  1.067043  0.887519  1.041422
2013-01-02  1.759438  0.702548 -0.248499
2013-01-03 -0.901648  1.002397  0.334519
2013-01-04  0.354305 -0.665491  2.033663
2013-01-05 -0.613713 -0.222655 -2.454923

In [8]:
df.describe()

              A         B         D
count  6.000000  6.000000  6.000000
mean   0.251422  0.120750  0.189086
std    1.019283  0.854527  1.509278
min   -0.901648 -0.979820 -2.454923
25%   -0.499508 -0.554782 -0.102745
50%    0.098706  0.239947  0.381427
75%    0.888858  0.841277  0.888150
max    1.759438  1.002397  2.033663

In [9]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    1.067043    1.759438   -0.901648    0.354305   -0.613713   -0.156892
B    0.887519    0.702548    1.002397   -0.665491   -0.222655   -0.979820
D    1.041422   -0.248499    0.334519    2.033663   -2.454923    0.428335

In [10]:
df.sort_index(axis=1,ascending=True)

                   A         B         D
2013-01-01  1.067043  0.887519  1.041422
2013-01-02  1.759438  0.702548 -0.248499
2013-01-03 -0.901648  1.002397  0.334519
2013-01-04  0.354305 -0.665491  2.033663
2013-01-05 -0.613713 -0.222655 -2.454923
2013-01-06 -0.156892 -0.979820  0.428335

In [12]:
df.loc[dates[3]]

A    0.354305
B   -0.665491
D    2.033663
Name: 2013-01-04 00:00:00, dtype: float64

In [13]:
df.at[dates[1],'B']

0.7025482817171117

In [14]:
df.iloc[3]

A    0.354305
B   -0.665491
D    2.033663
Name: 2013-01-04 00:00:00, dtype: float64

In [15]:
df.iat[1,1]

0.7025482817171117

KeyError: ignored